.mainSettings {
  width: calc(100% - 6%);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.mainSettings .first-row {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainSettings .first-row .date span {
  color: #0007;
  font-weight: 600;
}

.mainSettings .second-row {
  margin-top: 10px;
  height: calc(100% - 10%);
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  overflow-y: scroll;
  overflow-x: none;
  position: relative;
}

.mainSettings .second-row section {
  width: 100%;
  height: 80vh;
}

.mainSettings .second-row .userinfo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 50px;
  position: relative;
}

.mainSettings .second-row .pp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainSettings .second-row .pp span {
  font-weight: 600;
  color: var(--blue);
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  visibility: hidden;
}

.mainSettings .second-row .pp span.active {
  visibility: visible;
}

.mainSettings .second-row img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.mainSettings .second-row .userinfo h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.mainSettings .second-row .userinfo p {
  font-size: 16px;
  line-height: 32px;
  color: var(--blue);
  font-weight: 600;
}

hr {
  border-width: 0.5px;
  opacity: 0.3;
}

.mainSettings .second-row .changePassword {
  margin-bottom: 30px;
}

.mainSettings .second-row .changePassword h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 12px;
}

.mainSettings .second-row .changePassword p {
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
  opacity: 0.5;
}

.mainSettings .second-row .changePassword .fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.mainSettings .second-row .changePassword .fields .field {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.mainSettings .second-row .changePassword .fields .field label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--blue);
}

.mainSettings .second-row .changePassword .fields .field input {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  background: #0001;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
}

.mainSettings .second-row .changePassword .fields .field input:focus {
  outline: 2px solid var(--blue);
}

.mainSettings .second-row .changePassword button {
  width: 300px;
  color: white;
  font-weight: 600;
  border: none;
  background-color: var(--blue);
  border-radius: 7px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.mainSettings .second-row .changePassword button:hover {
  background-color: var(--blue-hover);
}

.mainSettings .second-row .links-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 20px;
}

.mainSettings .second-row .links-container .links {
  font-weight: 600;
  color: var(--blue);
  font-size: 15px;
  margin-bottom: 10px;
}

.context-menu {
  position: absolute;
  bottom: -100px;
  left: 0;
  background: #fff;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.15s;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -15px #000;
  z-index: 50;
}

.context-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.context-menu span,
.context-menu label {
  padding: 7px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.context-menu span:hover,
.context-menu label:hover {
  background: #ddd;
}

button.logout {
  background-color: var(--red);
  color: #fff;
  margin-top: 30px;
  width: 200px;
  margin-left: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}

/* about module */

.about-module {
  width: 500px;
  height: 300px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px -15px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  visibility: hidden;
  opacity: 0;
  transition: 0.15s;
}

.about-module.active {
  transform: translate(-50%, 0px);
  visibility: visible;
  opacity: 1;
}

.about-module i {
  font-size: 20px;
  color: var(--red);
  position: relative;
  right: -42%;
  cursor: pointer;
}

.about-module img {
  width: 30%;
  margin-bottom: 20px;
}

.about-module h2 {
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
}

.about-module span {
  opacity: 0.5;
}

/*Dark mode  */

body.dark .mainSettings .first-row {
  color: #fff;
}

body.dark .mainSettings .first-row .date span {
  color: #fff7;
}

body.dark .mainSettings .second-row {
  background-color: var(--black-e);
}

body.dark input {
  background-color: transparent;
  color: #fff;
}

body.dark .mainSettings .second-row .userinfo h1,
body.dark .mainSettings .second-row .changePassword h4,
body.dark .mainSettings .second-row .changePassword p {
  color: #fff;
}
