.main {
  width: calc(100% - 6%);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.main .first-row {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .first-row .date span {
  color: #0007;
  font-weight: 600;
}

.main .second-row {
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .second-row .buttons {
  width: auto;
  display: flex;
}

.main .second-row .add-button {
  width: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  padding: 10px 25px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}

.main .second-row .add-button:hover {
  background: var(--blue-hover);
}

.main .second-row .add-button i {
  margin-right: 10px;
}

.main .second-row .field {
  width: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main .second-row .field input {
  width: 100%;
  padding: 10px 10px 10px 50px;
  border-radius: 50px;
  border: 1px solid #0003;
  background: #fff;
}

.main .second-row .field input:focus {
  outline: 1px solid var(--blue);
}

.main .second-row .field i {
  position: absolute;
  left: 20px;
}

.main .third-row {
  margin-top: 10px;
  height: calc(100% - 17%);
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 0px 20px 20px 20px;
  overflow-y: scroll;
  overflow-x: none;
  position: relative;
}

.main .third-row table {
  width: 100%;
  height: auto;
  padding: 12px;
  border-collapse: collapse;
}

.main .third-row table tbody {
  text-align: left;
  font-size: 15px;
}

.main .third-row table tbody.inactive {
  display: none;
}

.main .third-row table thead {
  height: 10%;
  font-size: 20px;
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.main .third-row table thead th {
  padding: 40px 0 20px 0;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.main .third-row table thead th:nth-child(1) {
  padding-left: 20px;
}

.third-row table td {
  padding: 25px 0;
  width: fit-content;
}

.third-row table tbody tr td:nth-child(1) {
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.third-row table tbody tr td:last-child {
  padding-left: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.third-row table tbody tr:hover {
  background-color: #00000012;
}

.third-row table tbody tr h4 {
  width: 300px;
  font-size: 15px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.third-row table tbody tr a {
  width: 300px;
  color: var(--blue);
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.third-row table div.status {
  width: 100px;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.third-row table div.status.a {
  background-color: var(--assigned-h);
  color: var(--assigned-l);
}

.third-row table div.status.d {
  background-color: var(--damage-h);
  color: var(--damage-l);
}

.third-row table div.status.r {
  background-color: var(--retired-h);
  color: var(--retired-l);
}

.third-row table div.status.oos {
  background-color: var(--outofservice-h);
  color: var(--outofservice-l);
}

.third-row table div.status.u {
  background-color: var(--unused-h);
  color: var(--unused-l);
}

.third-row table tbody tr button {
  border: none;
  border-radius: 50px;
  padding: 7px 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.third-row table tbody tr button#assign {
  background-color: var(--blue);
}

.third-row table tbody tr button#assign:hover {
  background-color: var(--blue-hover);
}

.third-row table tbody tr button#revoke {
  background-color: var(--unused);
}

.third-row table tbody tr button#revoke:hover {
  background-color: #505050;
}

.third-row table tbody tr i {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-row table tbody tr i#edit {
  color: var(--black);
}

.third-row table tbody tr i#delete {
  color: var(--retired);
}

.third-row table tbody tr .asset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-row table tbody tr .asset span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background: var(--blue);
}

.third-row table tbody tr i {
  color: var(--blue);
}

.third-row table tbody tr i#empty-asset {
  color: #0005;
}

.third-row .emptyIllustration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
}

.third-row .emptyIllustration img {
  width: 70%;
  margin-bottom: 10px;
}

/*Dark mode  */

body.dark .main .first-row {
  color: #fff;
}

body.dark .main .first-row .date span {
  color: #fff7;
}

body.dark .main .third-row {
  background-color: var(--black-e);
}

body.dark input {
  background-color: transparent;
}
body.dark .main .third-row table {
  color: white;
}
body.dark .main .second-row input {
  background-color: var(--black-e);
  color: #fff;
}
body.dark .main .second-row i {
  color: white;
}

body.dark .main .third-row table thead {
  color: #ccc;
  background-color: var(--black-e);
}

body.dark .third-row table tbody tr i#edit {
  color: #fff;
}

body.dark .third-row table div.status.a {
  color: var(--assigned-d);
}

body.dark .third-row table div.status.d {
  color: var(--damage-d);
}

body.dark .third-row table div.status.r {
  color: var(--retired-d);
}

body.dark .third-row table div.status.oos {
  color: var(--outofservice-d);
}

body.dark .third-row table div.status.u {
  background-color: var(--unused-hd);
  color: var(--gray-h);
}

body.dark .third-row table tbody tr button#revoke:hover {
  background-color: rgb(98, 98, 98);
}

body.dark .third-row table tbody tr i#empty-asset {
  color: #fff5;
}
